@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: black;
}

p,
span,
a {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}


.main-content {
  position: relative;
  top: 5rem;
}

/* Mission */
.mission-section {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20vh;
}

.mission-section .profile-image {
  width: clamp(300px, 30vw, 600px);
}

.mission-section img {
  max-width: 100%;
}

.mission-section .bio {
  position: relative;
  width: 50%;
  left: 5%;
}

.mission-section h1 {
  font-size: clamp(1rem, 10vw, 3rem);
}

.mission-section h2 {
  font-style: italic;
  font-weight: 400;
  margin-bottom: clamp(50px, 5vw, 100px);
  font-size: clamp(0.5rem, 3vw, 1rem);
}

.mission-section p {
  font-size: clamp(1rem, 5vw, 1.3rem);
  width: 70%;
}

@media (max-width: 1060px) {
  .mission-section {
    flex-flow: column wrap;
    margin-bottom: 0px;
  }

  .mission-section .bio {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .mission-section p {
    width: 90%;
    text-align: center;
  }
}

/* Servizi */

.services-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.services-section .service-about {
  display: flex;
}

.services-section .services-menu {
  border-right: 1px solid black;
}

.services-section .services-scrollable-container {
  overflow: scroll;
  width: 50%;
}

.services-section h1 {
  font-size: clamp(1rem, 10vw, 1.5rem);
  margin-bottom: 10px;
}

.services-section p {
  font-size: clamp(1rem, 5vw, 1.3rem);
  margin-bottom: 10%;
}

.services-section li {
  line-height: 2;
  margin-right: 10px;
}

.services-section .service-icon {
  margin-right: 10px;
}

/*Servizi mobile*/
@media (max-width: 480px) {
  .services-section {
    flex-wrap: wrap;
  }

  .services-section .services-scrollable-container {
    overflow: scroll;
    width: 100%;
    padding: 30px;
  }

  .services-section .services-menu {
    border: 1px solid black;
    padding: 50px;
    margin: 0px 5px;
    box-shadow: 5px 5px 0px 0px #000000;
  }
}

/*Testimonial*/

.testimonial{
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.heading{
  text-align: center;
  font-size: clamp(1rem, 10vw, 3rem);
  margin-bottom: clamp(1rem, 10vh, 3rem);
}

.testimonial-container{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  
}

.testimonial-container .review-wrapper{
  border: 1px solid black;
  box-shadow: rgba(66, 133, 244, 0.4) -5px 5px, rgba(219, 68, 55, 0.3) -10px 10px, rgba(244, 180, 0, 0.2) -15px 15px, rgba(15, 157, 88, 0.1) -20px 20px;
  height: 300px;
  padding: 30px;
  overflow-y: scroll;
  flex: 1 0 20%;
}

@media (max-width: 1600px) {
  .testimonial-container .review-wrapper{
    flex: 1 0 40%;
  }
}

.testimonial-container .user-profile{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: right;
}

.testimonial-container .star-rating span{
  width: 13%;
}

